.main {
  /* background-color: red; */
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  /* width: 70%; */
  /* height: 100vh; */
  flex-wrap: wrap;
  /* text-wrap: wrap; */
  justify-content: left;
  padding: 2%;
}
.link {
  text-decoration: none;
  text-decoration: underline;
  color: white;
  margin: 10px;
  padding: 2%;
}
.link:hover {
  color: red;
}
